@import "../../assets/styles/variables.scss";

.aside-filter {
  background-color: #fff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  max-width: 326px;
  &__title {
    color: $text-color;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__button {
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
  }
  &__tags {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      bottom: 0;
      left: -20px;
      right: -20px;
      background-color: $accent-color;
    }
  }
  &__tag-skeleton {
    margin-bottom: 15px;
  }
  &__search {
    padding: 20px 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      bottom: 0;
      left: -20px;
      right: -20px;
      background-color: $accent-color;
    }
  }
  &__search-input {
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid $main-color;
  }
  &__linkbox {
    padding: 20px 0 10px 0;
  }
  &__link {
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    background-color: $accent-color;
    color: #fff;
    transition: all 0.2s ease;
    &:hover {
      background-color: $accent-hover-color;
    }
  }
}
