@import "../../assets/styles/variables.scss";
.notfound {
  &__wrapper {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;
    align-items: center;
  }
  &__image {
    width: 400px;
  }
  &__title {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  &__subtitle {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 400px;
  }
  &__button {
    padding: 10px 50px;
  }
}
