@import "../../../assets/styles/variables.scss";
.button {
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: $main-color;
  color: #fff;
  transition: all 0.3s ease;
  &:hover {
    background-color: $main-hover-color;
  }
}
